# do not list libraries built into python. e.g. json, pickle, time
# not sure why altair doesn't need to be listed. Maybe because it's only used internally in streamlit?
endplay
duckdb
matplotlib
pandas
polars
pyarrow
requests
sqlalchemy
sqlalchemy_utils
streamlit
streamlit-aggrid
#streamlit-datalist
streamlit-extras
seaborn
reportlab
markdown
beautifulsoup4
aiohttp
requests
scikit-learn


